In [1]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
import os
data_directory = "Downloads/archive"
makes = ["Audi", "Bmw", "cclass", "Focus", "Hyundi", "Merc", "Skoda", "Toyota", "cclass", "Focus", "Vauxhall", "VW"]

dataframes = []

for make in makes:
    filename = os.path.join(data_directory, f"{make.lower()}.csv")
    df = pd.read_csv(filename)
    df.insert(0, "make", make)
    dataframes.append(df)

merged_df = pd.concat(dataframes, ignore_index=True)



OPENAI_API_KEY = "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"
llm = OpenAI(api_token=OPENAI_API_KEY)

pandas_ai = PandasAI(llm)

In [9]:
merged_df.head()

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,tax(£)
0,Audi,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,NaN
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,NaN
2,Audi,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,NaN
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,NaN
4,Audi,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,NaN

# What is the average mpg (Miled Per Gallon) of used cars in the dataset?

In [3]:
print(pandas_ai.run(merged_df,prompt="What is the average mpg (Miled Per Gallon) of used cars in the dataset?"))

54.560744872079

# What is the most popular make and model of used car in the dataset?

In [4]:
print(pandas_ai.run(merged_df,prompt="What is the most popular make and model of used car in the dataset?"))

The most popular make and model of used car in the dataset is Focus  Focus.

# What is the correlation between mpg and price?

In [5]:
print(pandas_ai.run(merged_df,prompt="What is the correlation between mpg and price?"))

-0.28385549580881964

# What is the oldest used car in the dataset?

In [6]:
print(pandas_ai.run(merged_df,prompt="What is the oldest used car in the dataset?"))

The oldest used car in the dataset is a Merc  M Class from 1970.

# What is the most popular color of used car in the dataset? (Hellucination Test)

In [7]:
print(pandas_ai.run(merged_df,prompt="What is the most popular color of used car in the dataset?"))

The most popular color of used car in the dataset is VW.

# What is the price of the oldest Tesla in the dataset? (Hellucination Test)

In [8]:
print(pandas_ai.run(merged_df,prompt="What is the price of the oldest Tesla in the dataset?"))

There are no Tesla cars in the dataset.